@import url("buttons.css");
@import url("pagination.css");
@import url("menu_styles.css");

/* General */
@import url("buttons.css");
@import url("pagination.css");
@import url("menu_styles.css");

/* General */
html, body { 
	background: #fff;
	margin: 0;
	padding: 0;
	width: 100%;
}

.logo {
    font-family: 'Lobster', cursive;
    font-size: 2.188em;
    height: 2.188em;
    line-height: 2.188em;
    padding: 0;
    margin: 0;
}

h1 a{
    color: #54626f;
    text-decoration: none;
}

h3 {
    font-size: 14px !important;
    line-height: 25px !important;
    font-weight: bold !important;
    height: 25px !important;
    margin: 0px !important;
    padding: 0px !important;
}

.menu {
    display: inline-block;
	margin: 0;
	padding: 0;
	list-style: none;
}

.menu li {
	float: left; 
    padding: 0.250em;
}

.menu li a {
	display: block;
	text-decoration: none;
	font-weight: normal;
	color: #54626f;
}

.menu li a:hover {
    text-decoration: underline;
}

#login_box {
 margin-top: 10px;
}

table {
    border: 1px solid #c2c2c2 !important;
    background: #fdfdfd !important;
    border-top-left-radius: 4px !important;
    border-top-right-radius: 4px !important;
}

table th.table_header{
    width: 100%;
    background-image: linear-gradient(bottom, rgb(232,230,231) 0%, rgb(249,251,250) 100%);
    background-image: -o-linear-gradient(bottom, rgb(232,230,231) 0%, rgb(249,251,250) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(232,230,231) 0%, rgb(249,251,250) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(232,230,231) 0%, rgb(249,251,250) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(232,230,231) 0%, rgb(249,251,250) 100%);

    background-image: -webkit-gradient(
    	linear,
    	left bottom,
    	left top,
    	color-stop(0, rgb(232,230,231)),
    	color-stop(1, rgb(249,251,250))
    );
    
    border-top-left-radius: 4px !important;
    border-top-right-radius: 4px !important;
    border-bottom: 1px solid #d1d1d1 !important;
}

tbody tr:nth-child(even) td, tbody tr.even td {
    background:#ffffff !important;
}